@import "scss/_variables";
@import "scss/_loader";

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background:radial-gradient(rgb(187, 187, 187), white);

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    z-index: 0;
    #para1 {
        color:blue;
    }
}

