@import "scss/_variables";
@import "scss/_loader";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nato Sans', sans-serif;
    font-size: 30px;
    line-height: 10;
    background:radial-gradient($themeColor1, white);

    flex-direction: column;
    min-height: 100vh;
    
    .survey {
        position: fixed;
        padding:30px;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background-image:linear-gradient(transparent,white, white,transparent);
        width: 100vw;
        min-height:75vh;
        .survey-header{
            padding: 10px 15px;
            margin: 15px;
            border-style:solid;
            border-image:linear-gradient(90deg,$themeColor3, transparent) 1;
            border-top:0;
            border-left: 0;
            border-right:0;
            border-width: 7px;
        }
    }
}


.loaded #loader-wrapper {
    opacity: 0;  
    transition: all 0.5s cubic-bezier(0.75, 0.1, 0.75, 0.8);
}

